<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Flask Example 16 (IoTデバイスプログラミング3)</title>
    </head>
    <body>
        <h1>変数引き渡し例4</h1>
        受け取ったlistのlist: {{ input_from_python }}

        <h2>listとしてアクセス</h2>
        <li>listの最初(0番目){{ input_from_python[0] }}</li>
        <li>次(1番目){{ input_from_python[1] }}</li>

        <h2>listとしてアクセス（forを使う方法）</h2>
        {% for value in input_from_python %}
            <li>{{ value }}</li>
        {% endfor %}

        <h2>listとしてアクセス（forを使う方法）した後に、さらにlistとしてアクセス</h2>
        {% for value in input_from_python %}
            {% for i in range(2) %}
                <li>{{ value[i] }}</li>
            {% endfor %}
            --- <br>
        {% endfor %}

        <h2>listとしてアクセス（forを使う方法）した後に、さらにlistとしてアクセスして、HTMLの表にする。</h2>
        <table border="1">
            <tr>
                <td>温度(℃)</td>
                <td>湿度(パーセント)</td>
            </tr>
            {% for value in input_from_python %}
            <tr>
                <td>{{ value[0] }}</td>
                <td>{{ value[1] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
